@{
    ViewBag.Title = "About Non-Fan";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>
    Non-Fan sites are created for fans by, "non-fans".
    We're non-fans because, well, we're not exactly among the hardest core followers of a given topic.
</p>
<p>
    But we do like stuff!
    So we create these sites about the stuff we like.
</p>
<p>
    We aim to provide relevant basic information, sources of interesting content, links to other websites, etc.
    So whether you think back on your time in our sites as time you'll never get back, or you want more content to come back to, <a href="http://localhost:2444/Home/Contact">let us know</a>!
</p>
<div class="row">
    <div class="col-md-12">
        <p></br><a class="btn btn-default" href="http://www.theworldsworstwebsiteever.com/">Check Out Non-Fan's Home Page! &raquo;</a></br></p>
    </div>
</div>
