@{
    ViewBag.Title = "\"Kung Fury\" Non-Fan";
}

<div class="jumbotron">
    <h1><strong></br></br></strong></h1>
    <p class="lead"><strong>&quot;Kung Fury&quot;, as of mid-2016, is a Kickstarter project which met its $200,000 goal resulting in the release of an hilariously 80&#39;s retro, geekily action-packed, nerdily nostalgia-filled, gloriously comp-sci-emancipating 30min. film, featuring classic &amp; over-the-top action adventure plot /archetypes.</strong></p>
    <p class="lead"><strong>A secondary, $1,000,000 feature film crowdfunding goal is also set. The rewrite, remake, and rerelease promises to be nothing short of a dictionary picture-worthy definition for guilty pleasure -- move over bologna-ketchup sandwich!</strong></p>
    <p2><a href="http://localhost:2444/Home/Movie" class="btn btn-primary btn-lg">Watch the Movie! &raquo;</a>&nbsp;&nbsp;&nbsp;
        <a href="http://www.kungfury.com/" class="btn btn-primary btn-lg">Official Site &raquo;</a>&nbsp;&nbsp;&nbsp;
        <a href="https://www.kickstarter.com/projects/kungfury/kung-fury" class="btn btn-primary btn-lg">Kickstarter &raquo;</a></p2>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Plot</h2>
        <p>"Miami Police Department detective and martial artist Kung Fury time travels from the 1980s to World War II to kill Adolf Hitler, a.k.a. "Kung Führer", and revenge his friend's death at the hands of the Nazi leader. An error in the time machine sends him further back to the Viking Age."&nbsp;</br></br>~ <a href="http://www.kungfury.com/">www.kungfury.com</a></p>
    </div>

    <div class="col-md-12">
        <h2>Characters</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <p>
                <a href="http://www.imdb.com/character/ch0513337/?ref_=ttfc_fc_cl_t1"><img src="~/Images/KungFuryChar.jpg" alt="Kung Fury" /></a></br>
                <a href="http://www.imdb.com/character/ch0513337/?ref_=ttfc_fc_cl_t1"> <strong>Kung Fury</strong></a></br>played by <a href="http://www.imdb.com/name/nm6247887">David Sandberg</a></br></br>
                <a href="http://www.imdb.com/character/ch0027857/?ref_=ttfc_fc_cl_t2"><img src="~/Images/HitlerChar.jpg" alt="Kung Führer" /></a></br>
                <a href="http://www.imdb.com/character/ch0027857/?ref_=ttfc_fc_cl_t2"> <strong>Kung Führer</strong></a></br>played by <a href="http://www.imdb.com/name/nm1672246/">Jorma Taccone</a></br></br>
                <a href="http://www.imdb.com/character/ch0155533/?ref_=ttfc_fc_cl_t5"><img src="~/Images/ThorChar.jpg" alt="Thor" /></a></br>
                <a href="http://www.imdb.com/character/ch0155533/?ref_=ttfc_fc_cl_t5"> <strong>Thor</strong></a></br>played by <a href="http://www.imdb.com/name/nm6224536/">Andreas Cahling</a> / <a href="http://www.imdb.com/name/nm6224537/">Per-Henrik  Arvidius</a></br></br>
                <img src="~/Images/HackermanChar.jpg" alt="" /></br> <strong>Hackerman</strong></br>played by <a href="http://www.imdb.com/name/nm6224535/?ref_=tt_cl_t4">Leopold Nilsson</a></br></br>
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            <p>
                Dragon</br>(<a href="http://www.imdb.com/name/nm7320022/?ref_=tt_cl_t3">see actor's profile</a>)</br></br>
                Triceracop</br>(<a href="http://www.imdb.com/name/nm7277327/?ref_=tt_cl_t7">see actor's profile</a>)</br></br>
                Barbarianna</br>(<a href="http://www.imdb.com/name/nm7277325/?ref_=tt_cl_t9">see actor's profile</a>)</br></br>
                Katana</br>(<a href="http://www.imdb.com/name/nm7277326/?ref_=tt_cl_t10">see actor's profile</a>)</br></br>
                Chief</br>(<a href="http://www.imdb.com/name/nm6224537/?ref_=tt_cl_t6">see actor's profile</a>)</br></br>
                Red Ninja</br>(<a href="http://www.imdb.com/name/nm5446755/?ref_=tt_cl_t14">see actor's profile</a>)</br></br>
                Hoff 9000</br>(<a href="http://www.imdb.com/name/nm0001327/?ref_=tt_cl_t15">see actor's profile</a>)</br></br>
                Colonel Reichstache</br>(<a href="http://www.imdb.com/name/nm1492142/?ref_=tt_cl_t12">see actor's profile</a>)</br></br>
                Private Reichstache</br>(<a href="http://www.imdb.com/name/nm2930714/?ref_=tt_cl_t13">see actor's profile</a>)</br></br>
                <a class="btn btn-default" href="http://www.imdb.com/title/tt3472226/fullcredits?ref_=tt_cl_sm#cast">More on IMDB.com &raquo;</a>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Wait, What?</h2>
        <img src="~/Images/KungHasselHome _300x168.jpg" alt="David Hasselhoff and David Sandberg" />
        <p>Is that -- Michael Knight? Check out Kung Fury's promo music video by David Hasselhoff!</p>
    </div>
    <div class="col-md-12">
        <p>
            <a class="btn btn-default" href="http://localhost:2444/Home/Video">Watch "True Survivor" &raquo;</a>
        </p>
    </div>
</div>
