@{
    ViewBag.Title = "\"Kung Fury\" Film";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>"A mixture of very broad and very sly that's quite simply a whole lot of fun."</p>
<p>~ Scott Weinberg from Nerdist on <a href="https://www.rottentomatoes.com/m/kung_fury/">Rotten Tomatoes</a></p>
<div style="position:relative; width:100%; max-width:640px; height:0px; max-height:360px; padding-bottom:33%;">
    <iframe style="position:absolute; left:0; top:0; width:100%; max-width:640px; height:100%; max-height:360px"
            src="https://www.youtube.com/embed/bS5P_LAqiVg" frameborder="0" allowfullscreen></iframe>
</div>
