@{
    ViewBag.Title = "\"True Survivor\" Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>"Featuring scenes from Kung Fury with Hasselhoff edited into the action, the video -- set to the most believable, listenable '80s throwback track in years -- grabbed the Internet's collective jaw and forced it to the floor when it dropped."</p>
<p>~ <a href="http://www.billboard.com/articles/news/6546148/david-hasselhoff-true-survivor-music-video-kung-fury-interview">billboard</a></p>
<div style="position:relative; width:100%; max-width:640px; height:0px; max-height:360px; padding-bottom:33%;">
    <iframe style="position:absolute; left:0; top:0; width:100%; max-width:640px; height:100%; max-height:360px"
            src="https://www.youtube.com/embed/ZTidn2dBYbY" frameborder="0" allowfullscreen></iframe>
</div>
